/**********************************************************************
                             TEXTO
**********************************************************************/
html {
    font-family: "Lucida Sans", sans-serif;
}

body {
    line-height: 1.25;
}

.texto-pequeno {
    font-size:small;
}

.texto-medio {
    font-size:medium;
}

.texto-grande {
    font-size:large;
}

.texto-italico {
    font-style: italic;
}

.texto-negrito {
    font-weight: bold;
}

.texto-maiusculo {
    text-transform: uppercase;
}

.texto-minusculo {
    text-transform: lowercase;
}

.texto-capitalize { /* 1a letra maiuscula, demais minusculas */
    text-transform: capitalize;
}

/**********************************************************************
                             IMAGENS
**********************************************************************/

img {
    max-width: 100%;
    height: auto;
}

/**********************************************************************
                             BOTÕES
**********************************************************************/
.btn
{    
    background-color: #21b2d6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;        
}

.btn:hover {    
    color: white;
    background-color: #21a3c4;        
    box-shadow: 3px 4px silver;
  }

/**********************************************************************
                               TABLES
**********************************************************************/

table {    
    border: 1px solid #21b2d6;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;        
  }

  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }

  table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;    
  }

  table tr:nth-child(even) {
    background-color: #eaf4f5
  }

  table th,
  table td {
    padding: .625em;
    text-align: center;
  }

  table th {
    background-color: #21b2d6;
    color: white;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

/* Layout Responsivo - Quando a tela for menor que 600px de largura, o cabeçalho vai para o lado esquerdo e os dados para o direito */  
@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table tr:nth-child(even) {
        background-color: #f8f8f8
      }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td:before {      
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}


/**********************************************************************
                             GRID
**********************************************************************/

.grid-container {
    width: 100%; 
    max-width: 1850px;   
}

.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
}

[class*='col-'] {
    float: left; 
    min-height: 1px; 
    width: 16.66%;    
}

.col-2{ width: 16.66%;  }
.col-4{ width: 33.33%;  }
.col-6{ width: 50%;     }
.col-8{ width: 66.66%;  }
.col-10{ width: 83.33%; }
.col-12{ width: 100%;   }

.outline, .outline *{
    outline: 1px solid black; 
}

[class*='col-'] > p {    
    padding: 0;
    margin: 0;
    text-align: center;     
    }

@media all and (max-width:728px){
    .col-2{ width: 33.33%;  }
    .col-4{ width: 50%;     }
    .col-6{ width: 83.33%;  }
    .col-8{ width: 100%;    }
    .col-10{ width: 100%;   }
    .col-12{ width: 100%;   }

    .row .col-4:last-of-type{
        width: 100%; 
    }

    .row .col-10 ~ .col-2{
        width: 100%; 
    }
}

@media all and (max-width:600px){
    .col-2{ width: 50%;     }
    .col-4{ width: 100%;    }
    .col-6{ width: 100%;    }
    .col-8{ width: 100%;    }
    .col-10{ width: 100%;   }
    .col-12{ width: 100%;   }
}

  
/**********************************************************************
                               FORMS
**********************************************************************/

input[type=text], select, textarea {
    width: 98%;
    padding: 12px;
    border: 1px solid #ccc;    
    border-radius: 4px;
    resize: vertical;
}

input[type=text]:focus {
    outline: none;
    background-color: #f5f8f8;    
    border-color: #21b2d6;
}

select:focus {
    outline: none;
    background-color: #f5f8f8;
    border-color: #21b2d6;
}

textarea:focus {
    outline: none;
    background-color: #f5f8f8;
    border-color: #21b2d6;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #21b2d6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #21a3c4;
    box-shadow: 3px 4px silver;
}

.form-container {
    border: 1px solid;
    border-color: #21b2d6;
    border-radius: 5px;    
    background-color: #f8fcff;
    padding: 20px;    
    margin-left: 6px;
    margin-right: 6px;           
}

.form-col-10 {
    float: left;
    width: 10%;
    margin-top: 6px;
}

.form-col-20 {
    float: left;
    width: 20%;
    margin-top: 6px;
}

.form-col-80 {
    float: left;
    width: 80%;
    margin-top: 6px;
}

.form-col-90 {
    float: left;
    width: 90%;
    margin-top: 6px;
}

.form-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Layout Responsivo - Quando a tela for menor que 600px de largura, faz as duas colunas ficarem uma em cima da outra ao invés de uma do lado da outra */
@media screen and (max-width: 600px) {
    .form-col-10, .form-col-90, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

    .form-col-20, .form-col-80, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

    input[type=text], select, textarea {
        width: 95%;     
    }
}

/**********************************************************************
                        ALERT (MESSAGEBOX)
**********************************************************************/

.msg-erro {
    padding: 20px;
    background-color: #f44336; 
    color: white;
    margin-bottom: 15px;
}

.msg-sucesso {
    padding: 20px;
    background-color: #4CAF50; 
    color: white;
    margin-bottom: 15px;
}

.msg-info {
    padding: 20px;
    background-color: #2196F3; 
    color: white;
    margin-bottom: 15px;
}

.msg-cuidado {
    padding: 20px;
    background-color: #ff9800; 
    color: white;
    margin-bottom: 15px;
}

.botaofechar {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.botaofechar:hover {
    color: black;
}

/**********************************************************************
          BREADCRUMB (NAVEGAÇÃO Ex.: Home/Pictures/Summer/Italy)
**********************************************************************/

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/**********************************************************************
                               OUTROS
**********************************************************************/

.container {
    border: 0px;            
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;    
}


